* {
    box-sizing: border-box;
  }
  
  body {
    background: rgb(43,189,213);
background: linear-gradient(90deg, rgba(43,189,213,0.8631827731092436) 36%, rgba(15,116,215,0.958420868347339) 68%);
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Float four columns side by side */
  .column {
    white-space: nowrap;
    font-weight: 900;
    font-size: 85%;
    float: left;
    width: 40%;
    padding: 0 20px;
    text-align: center;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {    display: flex;
    width: 100%;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  h3{    font-weight: 900;}
  /* Style the counter cards */
  .card {
    text-overflow: ellipsis;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
.disCard{
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  background: aliceblue;
  height: 70%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .container{
    border-radius: 50px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 50px
  }
  select{
    top: 120px;
    position: absolute;
    width: 100%;
    height: 30px;
    background: silver
}
.img{
  border-radius: 50px;
  position: absolute;
  width: 100%;
  border: 1px solid;
  height: 90px;

}
img{
  border-radius: 50px;
  width: 100%;
  height: 100%;
}
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }